@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --bg-default: #222223;
  --scrollbar-track: #fcc23f;
  --scrollbar-thumb: #222223;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb{
  background: var(--scrollbar-track);
}

h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

@layer components {
  .container {
    @apply sm:max-w-[768px] md:max-w-[1440px] px-4 py-10 md:px-20;
  }

  .custom-cursor {
    cursor: url('../assets/yoda.png'), auto;
  }
}

@layer utilities{
  .bg-gradient-center{
    background: radial-gradient(
      circle,
      rgba(25,46,75,1) 0%,
      rgba(34,34,35,1) 100%
    );
  }

  .bg-gradient-about{
    background: radial-gradient(
      circle, 
      rgba(51,51,52,1)0%, 
      rgba(34,34,35,1) 100%
      );
  }

  .bg-gradient-main{
    background: linear-gradient(
      to right, #171618, #fcc23f
    );
  }

  .loader_wrapper {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 0 1px yellow);
}

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: arial;
    color: yellow;
    text-shadow: 1px 1px 1px black;
    animation: blink 1s ease infinite;
  }

  .loader {
    width: 100px;
    height: 100px;
    animation: flip 2s linear infinite;
  }

  #loader_path {
    stroke: black;
    stroke-width: 30;
    fill: transparent;
    stroke-dasharray: 100px 5px;
    animation: spin 1s ease-in-out infinite alternate;
  }

  @keyframes spin {
  0% {
    stroke-dashoffset: 500;
    opacity: .5;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}

@keyframes blink {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
}

html {
  @apply h-full !scroll-smooth;
  -webkit-tap-highlight-color: transparent;
}

#__next,
body {
  @apply h-full custom-cursor;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

    background-color: var(--bg-default);
}
